@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in;
}

:root {
    --primary-color : rgb(43, 45, 66);
    --secondary-color : rgb(141, 153, 174);
    --tertiary-color : rgb(237, 242, 244);
    --heading-color : rgb(217, 4, 41);
    --heading-secondary-color : rgb(239, 35, 60);
    --font-family : 'Poppins' , sans-serif ;
}
html {
    height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
}

.img , .vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    border: none;
    background-color: transparent;
    outline :none;
}
body {
    font-family: var(--font-family);
    color: var(--primary-color);
    position: relative;
    width: 100%;
    height: 100%;

}


/* html.sr .section>* {
    visibility: hidden;
} */
/* .container {
    max-width: 1300px;
    margin: 0 auto;
} */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: fixed;
    height: 4rem;
    background-color: white;
    z-index: 100;
    width: 100%;
    top: 0;
    box-shadow: 0 1px 3px 1px rgba(141, 153, 174, 0.3);
    
}
.brand {
    /* padding: 1rem; */
    color: var(--heading-color);
    font-weight: 700;
    font-size: 1.8rem;
    vertical-align: middle;

}
.brand::before {
    content: '.';
    color: var(--heading-color);
    font-weight: 700;
    font-size: 3rem;

}
.nav {
    display: flex;
}
.nav-item {
    padding: 1rem;
    
}

.nav-active {
    color: var(--heading-secondary-color);
    font-weight: 500;
}

.section {
    padding: 5rem;
    /* margin-top: 2rem; */
    min-height: 100%;
    width: 100%;
    

}

.section.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.section.home .image {
    /* flex-basis: calc(100vh - 5rem);
    flex-shrink: 1 ;
    flex-grow: 1 ; */
    min-width: 300px;

}
.section.home .image img {
    border-radius: 100%;
    height: calc(100% - 5rem);
    width: calc(100% - 5rem);
    max-height: 400px;
    max-width: 400px;
    opacity: 0.9;
    box-shadow: 0px 0px 5px 2px rgba(239, 35, 59, 0.329);

}
.intro {
    min-width: 300px;

    font-size: 2rem;
    padding: 2rem;
    max-width: 600x;

}
.intro .name {
    color: var(--heading-secondary-color);
}
.intro .content {
    margin-bottom: 2rem;
}
.btn-action{
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    /* background-color: var(--tertiary-color); */
    color: var(--heading-secondary-color);
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    border-bottom: 2px solid var(--heading-color);
    border-left: 2px solid var(--heading-color);


}

.btn-action:active {
    background-color: var(--heading-secondary-color);
    color: white;
    border: 2px solid transparent;
}

.social-links {
    margin-top: 3rem;
}


/** about **/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.about .heading {
    margin-top: 3rem;
    color: var(--heading-secondary-color);
}
.about .content {
    max-width: 600px;
    text-align: center;
    margin: 3rem 0;
}

/* skills */


.skills {
    display: flex;
    flex-wrap: wrap ;
    align-items: stretch;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    max-width: 400px;
    min-width: 100px;
    flex:1 1 200px;
    height: 250px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    
}
.card-title {
    color: var(--heading-secondary-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
}

.skills .content {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
}

.skills .content ul li {
    margin: 0.5rem 0;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* work */
.work {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.work .card {
    flex: 1 1 30%;
    box-shadow: 0 0 3px 1px var(--secondary-color);
    height: 450px;
    min-width: 300px;
    max-width: 400px;
    max-height: 80%;
    padding: 0;

}

.work .card .card-header {
    flex:1 1 50%;
    width: 100%;
    
}

.work .card .card-body {
    padding: 0 1rem;
    flex:1 1 50%;

}


.work .card.more {
    flex : unset ;
    height: unset;
    
}

/** contact **/

.contact {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.contact h1 {
    margin-bottom: 3rem;
    color: var(--heading-secondary-color);
}

.form {
    min-width: 250px;
    max-width: 600px;
    width: 400px;
    
}
.form .group {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form .group .control {
    width: 100%;
    padding: 1rem;
    resize: none;
    font-size: 1.1rem;
    border: none;
    border: 1px solid var(--secondary-color) ;
}
.form .group .control:focus {
    border: 1px solid var(--primary-color) ;
}
.form .group textarea.control {
    height: 10rem;
}
.form .btn-action {
    margin-top: 2rem;
}
.kw-field-error-message {
    margin: 0.5rem 0 0.2rem 0;
}
.kw-border-error {
    border: 1px solid var(--heading-secondary-color) !important;

}
.card.more {
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}
.card.more i {
    font-size: 2rem;
}

.card.more:active {
    transform: translate(1px , 2px);
}
#nav-toggler {
display: none;
}


@media (hover: hover) {
    .social-links>*:hover {
        color: var(--heading-secondary-color);
    }
    .card.more:hover {
        color: var(--heading-secondary-color);
        box-shadow: 0 0 3px 1px var(--heading-secondary-color);
        cursor: pointer;
    }
    .btn-action:hover {
        color: var(--heading-color);
        background-color: transparent;
        border: 2px solid var(--heading-secondary-color);
    }
    .nav-item:hover {
        /* background-color: var(--secondary-color); */
        color: var(--heading-secondary-color);
    }
    i:hover {
        cursor: pointer;
        color: var(--heading-secondary-color);
    }
  }



@media (max-width : 800px) {

    .section.home {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section.home .image {
        display: flex;
        justify-content: center;
        order: 1;
    }
    .section.home .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 2;
        text-align: center;
        font-size: 1.8rem;
    }
    .section.home .image img {
        min-width: 100px;
        
    }
    
    .form {
        min-width: unset;
        width: 100%;
    }
    .header {
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;
        height: 4.5rem;
        
    }
    .nav {
        display: unset;
        position: absolute;
        right: -50%;
        top: 4.5rem;
        z-index: 1001;
        background-color: var(--secondary-color);
        width: 40%;
        height: 100vh;
    }
    .nav-show {
        transform: translate(-100%);
    }
    #nav-toggler {
        font-size: 2rem;
        color: var(--heading-secondary-color);
        display: block;
    }

    .nav-item {
        padding: 1rem;
        display: block;
        font-size: 1.2rem;
    }
    @media (hover: hover) {
        .nav-item:hover {
            background-color: var(--tertiary-color);
            color: var(--primary-color);
        }
        
      }
    .nav-active {
        color: var(--tertiary-color);
        font-weight: 500;
    }
}

@media(max-width:480px) {
    :root {
        font-size: 80%;
    }
    .section {
        padding:7rem 1rem !important;
    }
    .card {
        width: 100%;
        min-width: 250px !important;
    }
    
    .intro {
        min-width: 300px;
        font-size: 1.5rem;
        padding: 1rem;
        max-width: 600x;
    }
    .contact h1{
        margin-bottom: 1rem;
    }
    
}